@import url('https://fonts.googleapis.com/css2? family = Poppins: wght @ 400; 500; 600; 700 & family = Ubuntu + Mono: ital, wght @ 0,400; 1,700 & display = troca');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* menu fixo no rodape*/
/*
html, body {
    height: 100%;

}
*/
html {
    scroll-behavior: smooth;
}

body {
    background-color: #0c0f16;
    /*
    display: flex;
    flex-direction: column;
    */
}

.max-width {
    max-width: 1300px;
    padding: 0 10px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    /*background-color: none;*/
    background-color: #121721;
    border-bottom: solid #1b202a 1px;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #547ec7;
    font-size: 35px;
    font-weight: 500;
}


.navbar .logo p {
    color:white;
    text-align: right;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-left: 25px;
}

.menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content:"\f00d";
    }
    .navbar .menu {
        background-color: #121721;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition:  all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 13px 0;
        font-size: 25px;
    }
    .max-width {
        max-width: 930px;
    }
}


section {
    padding: 50px 0;
}
@media (max-width: 690px) {
    section {
        padding: 20px 0;
    }
}

.top {
    color: #fff;
    display: flex;
    background: url('../siteSvco/imagens/topo.jpg') no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.top .max-width {
    width: 100%;
    display: flex;
}

.top .top-content .text-1 {
    font-size: 25px;
    margin-top: 100px;
}

.top .top-content .text-2 {
    font-size: 55px;
    font-weight: 400;
    margin-left: -3px;
}

.top .top-content .text-3 {
    font-size: 32px;
    margin: 5px 0;
}

.top .top-content a {
    display: inline-block;
    background: #b02ab7;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 6px;
    border: 2px solid #b02ab7;
}

.top .top-content a:hover {
    color:#b02ab7;
    background: none;
}

.tecnologies {  
    color: #fff;
    background-color: #0c0f16;
    font-family: 'Poppins', sans-serif;
}

.tecnologies .title {
    text-align: center;
    margin: 60px 0;
    font-weight: 400;
    font-size: 35px;
}

.tecnologies .serv-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.tecnologies .serv-content .card {
    width: calc(33% - 20px);
    background-color: #1b202a;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: solid 5px #b02ab7;
    margin: 10px;
}

.tecnologies .serv-content .card:hover {
    background-color: #547ec7;
}

.tecnologies .serv-content .card i {
    font-size: 50px;
    color: #b02ab7;
    transition: all 0.3s ease;
}

.tecnologies .serv-content .card:hover i{
    color: #fff;
}

.tecnologies .serv-content .card .box {
    transition: all 0.3s ease;
}

.tecnologies .serv-content .card:hover .box {
    transform: scale(1.05s);
}

.tecnologies .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
 @media (max-width: 947px) {
    .tecnologies .serv-content .card {
        width: calc(30% - 0px);
        margin-bottom: 20px;
    }
    .tecnologies .title {
        text-align: center;
        margin: 80px 0;
        font-weight: 400;
        font-size: 35px;
    }
 }
 @media (max-width: 690px) {
    .tecnologies .serv-content .card {
        width: 100%;
    }
    .tecnologies .title {
        text-align: center;
        margin: 80px 0;
        font-weight: 400;
        font-size: 35px;
    }
 }



 



 .portifolio {  
    color: #fff;
    background-color: #547ec7;
    font-family: 'Poppins', sans-serif;
}
.portifolio .title {
    text-align: center;
    margin: 60px 0;
    font-weight: 400;
    font-size: 35px;
}

.portifolio .serv-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.portifolio .serv-content .card {
    width: calc(33% - 20px);
    background-color: #1b202a;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: solid 5px #b02ab7;
    margin: 10px;
}

.portifolio .serv-content .card:hover {
    background-color: #b02ab7;
}

.portifolio .serv-content .card i {
    font-size: 50px;
    color: #b02ab7;
    transition: all 0.3s ease;
}

.portifolio .serv-content .card:hover i{
    color: #fff;
}

.portifolio .serv-content .card .box {
    transition: all 0.3s ease;
}

.portifolio .serv-content .card:hover .box {
    transform: scale(1.05s);
}

.portifolio .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
 @media (max-width: 947px) {
    .portifolio .serv-content .card {
        width: calc(30% - 0px);
        margin-bottom: 20px;
    }
    .portifolio .title {
        text-align: center;
        margin: 80px 0;
        font-weight: 400;
        font-size: 35px;
    }
 }
 @media (max-width: 690px) {
    .portifolio.serv-content .card {
        width: 100%;
    }
    .portifolio .title {
        text-align: center;
        margin: 80px 0;
        font-weight: 400;
        font-size: 35px;
    }
 }













 .contact {
     color: #fff;
     background-color: #151921;
     font-family: 'Poppins', sans-serif;
     padding-bottom: 50px;
 }

 .contact .title {
     text-align: center;
     margin-bottom: 50px;
     padding-top: 60px;
     font-weight: 400;
     font-size: 35px;
 }

 .contact .contact-content {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
 }

 .contact .contact-content .column {
    width: calc(50% - 30px);
 }

 .contact .contact-content .left p {
     text-align: justify;
 }

 .contact .contact-content .left .icons {
     margin: 10px 0;
 }

 .contact .contact-content .row {
     display: flex;
     height: 65px;
     align-items: center;
 }

 .contact .contact-content .row .info {
     margin-left: 30px;
 }

 .contact .contact-content .row i {
     font-size: 25px;
     color: #b02ab7;
 }

 .contact .contact-content .info .head {
     font-weight: 500;
 }

 .contact .contact-content .info .sub-title {
     color: #f6f6f6;
 }

 .contact .contact-content .text {
     font-size: 20px;
     font-weight: 500;
     margin-bottom: 10px;
 }

 .contact .right form .field,
 .contact .right form .fields .field {
     height: 45px;
     width: 100%;
     margin-bottom: 15px;
 }

 .contact .right form .textarea {
     height: 80px;
     width: 100%;
 }

 .column .right form .name {
     margin-right: 10px;
 }

 .contact .right form .field input,
 .contact .right form .textarea textarea {
     height: 100%;
     width: 100%;
     border-radius: 6px;
     outline: nome;
     padding: 0 15px;
     font-family: 'Poppins' sans-serif;
     transition: all 0.3s ease;
 }

 .contact .right form .field input:focus,
 .contact .right form .textarea textarea:focus {
     border-color: #b02ab7;
 }  

 .contact .right form .textarea textarea {
     padding-top: 10px;
     resize: none;
 }

 .contact .right form .button-area {
     display: flex;
     align-items: center;
 }

 .right form .button-area button {
     color: #fff;
     display: block;
     width: 160px !important;
     height: 45px;
     outline: none;
     font-size: 18px;
     font-weight: 400;
     border-radius: 6px;
     cursor: pointer;
     flex-wrap: wrap;
     background-color: #b02ab7;
     border: 2px solid #b02ab7;
     transition: all 0.3s ease;
 }

 .right form .button-area button:hover {
    color: #b02ab7;
    background: none;
 }

 @media (max-width: 947px) {
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px
    }
 }

@media (max-width: 500px) {
    .contact .title {
        margin-top: 30px;
    }
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }
}





footer {
    background-color: #121212;
    padding: 25px;
    color: white;
    text-align: center;
    margin-top: auto;
    font-family: 'Poppins', sans-serif;
}

footer span a {
    color: #547ec7;
}

footer span a:hover {
    color: white;
}
